.avatar-group {
  display: flex;
}
/* TODO(T0071): avatar-group pattern needs component API (n-avatar-group) */
.avatar-group n-avatar + n-avatar {
  margin-inline-start: -0.5rem;
}
.avatar-group n-avatar {
  outline: 2px solid var(--n-body-neutral);
}
